<% provide(:button_text, 'Update') %>
<nav class="border-bottom m-0" aria-label="breadcrumb">
  <h1 class="display-5">Edit Bike</h5>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-6" style="min-height: 490px">
      <%= render 'form' %>
    </div>
  </div>
</div>
