<% provide(:button_text, 'Add bike') %>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'User', current_user, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="page">Add New Bike</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-6" style="min-height: 490px">
      <%= render 'form' %>
    </div>
  </div>
</div>
